{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "singleQuote": true,
  "trailingCoomma": "es5",
  "react/jsx-max-props-per-line": [
    1,
    {
      "when": "always"
    }
  ]
}
